.container {
  display: flex;
  max-width: 500px;
  width: 100%;
  height: 45px;
  align-items: center;
}

.container__input {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  color: black;
  padding-left: 15px;
  text-overflow: ellipsis;
  padding-right: 15px;
  background-color: white;
}

.container__input:focus {
  outline: none;
}

.container__searchButton {
  background-image: url(../../assets/search.svg);
  width: 37px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: 10px;
}

.title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 50px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 515px) {
  .container__input {
    font-size: 12px;
  }

  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 323px) {
  .title {
    font-size: 25px;
  }
}